{% extends "base.html" %}

{% block heading %}
Welcome to the X Y Z Blog
{% endblock %}

{% block statement %}
 Welcome, {{ user.firstname }}. You are a logged in member of X Y Z. To share an article on this Blog, Create a post below.
{% endblock %}


{% block content %}

    <h4>Add Post:</h4>
    <div class="row-fluid">
    <div class="navbar-inner">
 <form action="{{ url_for('profile') }}" method=post>
    {{ form.hidden_tag() }}

    {{ form.topic.label }}
    {{ form.topic }} {% for message in form.topic.errors %}<div class="text-warning">{{ message }}</div>{% endfor %}

    {{ form.article.label }}
    {{ form.article }} {% for message in form.article.errors %}<div class="text-warning" >{{ message }}</div>{% endfor %}
  <br>
    {{ form.submit }}
  </form>
  </div>
  </div>


{% endblock %}
