{% extends "base.html" %}

{% block heading %}
Welcome to X Y Z Blog!
{% endblock %}

{% block statement %}
Please enter your details below and sign-up to become a member of X Y Z.
{% endblock %}


{% block content %}
    <h2>Sign up</h2>

  {% for message in form.firstname.errors %}
    <div class="text-warning">{{ message }}</div>
  {% endfor %}

  {% for message in form.lastname.errors %}
    <div class="text-warning">{{ message }}</div>
  {% endfor %}

  {% for message in form.email.errors %}
    <div class="text-warning">{{ message }}</div>
  {% endfor %}

  {% for message in form.password.errors %}
    <div class="text-warning">{{ message }}</div>
  {% endfor %}
  <div class="row-fluid">
    <div class="navbar-inner">
  <form action="{{ url_for('signup') }}" method=post>
    {{ form.hidden_tag() }}

    {{ form.firstname.label }}
    {{ form.firstname }}

    {{ form.lastname.label }}
    {{ form.lastname }}

    {{ form.email.label }}
    {{ form.email }}

    {{ form.password.label }}
    {{ form.password }}
    <br>
    {{ form.submit }}
  </form>
  </div>
  </div>

{% endblock %}
